/* Global Rules */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Century Gothic;
}

/* Start Navbar */

nav{
    padding: 20px 30px
}
nav .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    padding-bottom: 5px;
}
@media(min-width: 1199px){
    nav .container{
        padding: 40px 30px;
    }
}
nav .container .logo{}
nav .container .logo h2{
    font-size: 30px;
    color: green;
}
nav .container .logo h2:hover{
    color: black;
}
nav .container .col{}
nav .container .col i{
    font-size: 25px;
    color: black;
}
nav .container .col i:hover{
    color: green;
}

/* End Navbar */

/* Start Hero Section */

.Hero{
    padding: 40px 30px;}
.Hero .container{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
@media(max-width: 767px){
    .Hero .container{
        flex-direction: column-reverse;
    }
}
@media(min-width: 1199px){
    .Hero .container{
        padding: 20px 30px;
    }
}
.Hero .container .col-1{
    flex-basis: 45%;
}
@media(max-width: 767px){
.Hero .container .col-1{
    flex-basis: 100%;
    flex-wrap: wrap;
    text-align: center;
}
}
.Hero .container .col-1 h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.Hero .container .col-1 p{
    font-size: 19px;
    margin-bottom: 20px;
}
.Hero .container .col-1 input{
    width: 235px;
    height: 35px;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid green;
}
.Hero .container .col-1 button{
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 25px;
    padding: 9px 12px;
}
.Hero .container .col-1 button:hover{
    color: white;
    background-color: black;
    border-color: black;
}
.Hero .container .col-2{
    flex-basis: 45%;
}
.Hero .container .col-2 img{
    width: 450px;
    max-width: 100%;
}
@media(max-width: 767px){
    .Hero .container .col-2 img{
        margin-bottom: 20px;        
}
}

/* End Hero Section */

/* Start Section1 */

.Section1{
    padding: 40px 30px;
}
.Section1 .container{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
@media(min-width: 1199px){
    .Section1 .container{
        padding: 20px 30px;
    }
}
@media(max-width: 767px){
.Section1 .container{
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
}
.Section1 .container .col-1{
    flex-basis: 45%;
}
.Section1 .container .col-1 img{
    width: 450px;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 30px;
}
@media(max-width: 767px){
    .Section1 .container .col-1 img{
        margin-bottom: 20px;
}
}
.Section1 .container .col-2{
    flex-basis: 45%;
    flex-wrap: wrap;
}
.Section1 .container .col-2 h2{
    font-size: 25px;
    color: green;
    margin-bottom: 15px;
}
.Section1 .container .col-2 p{
    font-size: 19px;
    margin-bottom: 20px;
}
.Section1 .container .col-2 button{
    color: white;
    background-color: green;
    padding: 9px 12px;
    border: 1px solid green;
    border-radius: 25px;
}
.Section1 .container .col-2 button:hover{
    color: white;
    background-color: black;
    border-color: black;
}

/* End Section1 */

/* Start Section2 */

.Section2{
    padding: 40px 30px;
}
.Section2 .container{
    align-items: center;
    flex-wrap: wrap;
}
@media(min-width: 1199px){
    .Section2 .container{
        padding: 20px 30px;
    }
}
.Section2 .container .col-1{
    text-align: center;
}
.Section2 .container .col-1 h2{
    font-size: 30px;
    margin-bottom: 40px;
}
.Section2 .container .col-2{
    justify-content: space-around;
    display: flex;
    gap: 20px;
    text-align: center;
    flex-basis: 22%;
    flex-wrap: wrap;
}
.Section2 .container .col-2 .box{
    border-radius: 25px;
    flex-basis: 22%;
    box-shadow: 0px 0px 7px green;
    flex-wrap: wrap;
    width: 200px;
    max-width: 100%;
    margin-bottom: 10px;
}
@media(max-width: 991px){
    .Section2 .container .col-2 .box{
        flex-wrap: wrap;
        flex-basis: 45%;
}
}
@media(max-width: 767px){
    .Section2 .container .col-2 .box{
        flex-basis: 100%;
}
}
@media(max-width: 767px){
.Section2 .container .col-2 .box{
    flex-direction: column;
    flex-wrap: wrap;
}
}
.Section2 .container .col-2 .box img{
    width: 200px;
    max-width: 100%;
    margin: 20px 0px;
}
.Section2 .container .col-2 .box h2{
    font-size: 20px;
    margin: 0px 20px;
}
.Section2 .container .col-2 .box p{
    font-size: 15px;
    margin: 0px 20px;
    margin-bottom: 10px;
}

/* End Section2 */

/* Start Section3 */

.Section3{
    padding: 40px 30px;
    background-color: rgb(238, 251, 238);
}
.Section3 .container{
    align-items: center;
    text-align: center;
}
@media(min-width: 1199px){
    .Section3 .container{
        padding: 20px 30px;
    }
}
.Section3 .container col{}
.Section3 .container col h2{
    font-size: 30px;
    margin-bottom: 40px;
}
.Section3 .container .row{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 767px){
.Section3 .container .row{
    justify-content: center;
}
}
.Section3 .container .row .col{
    padding: 30px 0px;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 22%;
    text-align: center;
}
@media(max-width: 991px){
    .Section3 .container .row .col{
        flex-basis: 45%;
    }
}
@media(max-width: 767px){
    .Section3 .container .row .col{
        width: 100%;
    }
}
.Section3 .container .row .col img{
    width: 200px;
    border: 1px solid white;
    border-radius: 25px;
    /* box-shadow: 0px 0px 5px white; */
}
.Section3 .container .row .col h2{
    font-size: 20px;
}
.Section3 .container .row .col p{
    font-size: 15px;
}

/* End Section3 */

/* Start Section4 */

.Section4{
    padding: 40px 30px;
}
.Section4 .container{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
@media(min-width: 1199px){
    .Section4 .container{
        padding: 20px 30px;
    }
}
@media(max-width: 767px){
.Section4 .container{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
}
}
.Section4 .container .col-2{
    flex-basis: 45%;
}
.Section4 .container .col-1{
    flex-basis: 45%;
    flex-wrap: wrap;
}
.Section4 .container .col-1 h2{
    font-size: 25px;
    color: green;
    margin-bottom: 15px;
}
.Section4 .container .col-1 p{
    font-size: 19px;
    margin-bottom: 20px;
}
.Section4 .container .col-1 button{
    color: white;
    background-color: green;
    padding: 9px 12px;
    border: 1px solid green;
    border-radius: 25px;
}
.Section4 .container .col-1 button:hover{
    color: white;
    background-color: black;
    border-color: black;
}
.Section4 .container .col-2{
    text-align: center;
}
.Section4 .container .col-2 img{
    width: 350px;
    max-width: 100%;
}
@media(max-width: 767px){
    .Section4 .container .col-2 img{
        width: 250px;
        max-width: 100%;
        margin-bottom: 20px;
}
}

/* End Section4 */

/* Start Section5 */

.Section5{
    padding: 40px 30px;
    background-color: rgb(238, 251, 238);
}
.Section5 .container{
    text-align: center;
}
@media(min-width: 1199px){
    .Section5 .container{
        padding: 20px 30px;
    }
}
.Section5 .container .col-1{
    margin-bottom: 20px;
}
.Section5 .container .col-1 h2{
    font-size: 30px;
    color: black;
}
.Section5 .container .col-2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.Section5 .container .col-2 .box{
    width: 200px;
    flex-basis: 23%;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    margin-bottom: 30px;
}
@media(max-width: 991px){
    .Section5 .container .col-2 .box{
        flex-basis: 45%;
    }
}
@media(max-width: 767px){
    .Section5 .container .col-2 .box{
        flex-basis: 100%;
    }
}
.Section5 .container .col-2 .box img{
    width: 150px;
    max-width: 100%;
    margin: 10px 0px;
    border-radius: 100%;
}
.Section5 .container .col-2 .box h2{
    margin-bottom: 10px;
    font-size: 20px;
    color: green;
}
.Section5 .container .col-2 .box p{
    margin: 10px 10px;
    font-size: 15px;
}

/* End Section5 */

/* Start Section6 */

.Section6{
    padding: 40px 30px;
}
.Section6 .container{}
@media(min-width: 1199px){
    .Section6 .container{
        padding: 20px 30px;
    }
}
.Section6 .container .row-1{
    text-align: center;
}
.Section6 .container .row-1 h2{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
.Section6 .container .row-2{
    text-align: center;
    padding-right: 21px;
}
.Section6 .container .row-2 input{
    width: 25%;
    max-width: 100%;
    text-align: center;
    border: 1px solid green;
    border-radius: 25px;
    padding: 10px 10px;
    margin-bottom: 10px;
}
@media(max-width: 767px){
.Section6 .container .row-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Section6 .container .row-2 input{
    width: 100%;
}
}
.Section6 .container .row-2 button{
    font-size: 15px;
    color: #fff;
    background-color: green;
    padding: 10px 20px;
    display: flex;
    margin: 10px auto;
    border: 1px solid green;
    border-radius: 25px;
}
.Section6 .container .row-2 button:hover{
    background-color: black;
    border-color: black;
}

/* End Section6 */

/* Start Footer */

footer{
    padding: 40px 30px;
    background-color: black;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(min-width: 1199px){
    footer .container{
        padding: 20px 30px;
    }
}
footer .container .col{
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}
/* @media(max-width: 991px){
    footer .container .col{
        flex-basis: 45%;
    }
}
@media(max-width: 767px){
    footer .container .col{
        flex-basis: 90%;
    }
} */
footer .container .col .col-1{
    flex-basis: 25%;
}
/* @media(max-width: 767px){
    footer .container .col .col-1{
    flex-basis: 45%;
}
} */
footer .container .col .col-2{
    flex-basis: 15%;
}
/* @media(max-width: 767px){
    footer .container .col .col-2{
    flex-basis: 45%;
}
} */
footer .container .col .col-3{
    flex-basis: 22%;
}
footer .container .col .col-4{
    flex-basis: 22%;
}
footer .container .col h2{
    font-size: 35px;
    margin-bottom: 10px;
}
footer .container .col p{
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 10px;
}
footer .container .col .col-1 .icons{
    font-size: 25px;
    color: gray;
}
footer .container .col .col-1 .icons i{}
footer .container .col .col-1 .icons i:hover{
    color: white;
}
footer .container .col h4{
    font-size: 22px;
    margin-bottom: 10px;
}
footer .container .col ul{}
footer .container .col ul li{
    list-style: none;
    font-size: 17px;
    line-height: 30px;
    color: gray;
}
footer .container .col ul li:hover{
    color: white;
}

/* End Footer */

/* Start Last Section */

.Last{}
.Last .container{
    padding: 40px 30px;
    background-color: gray;
    text-align: center;
    flex-direction: column;
}
@media(min-width: 1199px){
    Last .container{
        padding: 20px 30px;
    }
}
.Last .container p{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* End Last Section */